<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
<div layout:fragment="content">

    <ul class="mt-5 nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="urlsTab" th:href="@{/admin/dashboard/urls}">Urls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="usersTab" th:href="@{/admin/dashboard/users}">Users</a>
        </li>
    </ul>

    <div th:replace="~{fragments/section-header :: section-header(title='Manage ' + ${managedEntity})}"></div>

    <div th:if="${entities.data().isEmpty()}" class="alert alert-info">
        No URLs have been created by you yet.
    </div>
    <div th:unless="${entities.data().isEmpty()}" class="table-responsive">
        <form th:action="@{/delete-urls}" method="POST">
            <div class="mb-3">
                <div th:replace="~{fragments/delete-modal :: delete-modal}"></div>
            </div>
            <div th:replace="~{fragments/entity-table :: entity-table(
                isUrlEntity=${isUrlEntity},
                entities=${entities},
                showCheckboxes=true,
                showCreatedBy=true,
                showPrivate=true,
                showOriginalUrl=true)}">
            </div>
        </form>
    </div>
</div>
<th:block layout:fragment="pageScripts">
    <script th:src="@{/js/adminTabManager.js}" defer></script>
    <script th:src="@{/js/checkboxManager.js}" defer></script>
</th:block>
</body>
</html>