<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
<div layout:fragment="content">

    <ul class="mt-5 nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="urlsTab" th:href="@{/admin/dashboard/urls}">Urls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="usersTab" th:href="@{/admin/dashboard/users}">Users</a>
        </li>
    </ul>

    <div th:replace="~{fragments/section-header :: section-header(title='Manage ' + ${managedEntity})}"></div>

    <div th:if="${entities.data().isEmpty()}" class="alert alert-info">
        No URLs have been created by you yet.
    </div>

    <div th:unless="${entities.data().isEmpty()}" class="table-responsive">
        <div class="mb-3 d-flex flex-nowrap gap-2 overflow-x-auto scrollbar-hidden">

            <!-- Delete selected URLs -->
            <form th:action="@{${deleteSelectedEndpoint}}" th:id="${deleteSelectedFormId}" method="POST">
                <!-- Button trigger modal -->
                <button type="button" id="deleteSelectedBtn"
                        class="btn btn-danger text-nowrap"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteConfirmation"
                        disabled>
                    Delete Selected
                </button>
                <div th:replace="~{fragments/confirmation-modal :: confirmation-modal(
                    title='Delete confirmation',
                    message='Are you sure you want to delete the selected ' + ${managedEntity} + '?',
                    warningMessage='This action cannot be undone. ' + ${managedEntity.equalsIgnoreCase('users') ? 'All the associated URLs will also be deleted' : ''},
                    modalId='deleteConfirmation',
                    formId=${deleteSelectedFormId},
                    buttonText='Delete',
                    buttonClass='btn-danger')}">
                </div>
                <input type="hidden" th:name="'returnUrl'" id="returnUrlInput"/>
                <script>
                    document.getElementById('returnUrlInput').value = window.location.href;
                </script>
            </form>

            <!-- Delete all expired URLs (only visible when needed) -->
            <form th:if="${deleteExpiredUrlsEndpoint != null and existExpiredUrls}"
                  th:action="@{${deleteExpiredUrlsEndpoint}}" method="POST" th:id="${deleteExpiredFormId}">
                <!-- Button trigger modal -->
                <button type="button"
                        class="btn btn-warning text-nowrap"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteExpiredUrlsConfirmation">
                    Delete Expired
                </button>
                <div th:replace="~{fragments/confirmation-modal :: confirmation-modal(
                        title='Delete confirmation',
                        message='Are you sure you want to delete ' + ${numberOfUrlExpired} + ' expired URLs?',
                        warningMessage='This action cannot be undone',
                        modalId='deleteExpiredUrlsConfirmation',
                        formId=${deleteExpiredFormId},
                        buttonText='Delete',
                        buttonClass='btn-warning')}">
                </div>
                <input type="hidden" th:name="'returnUrl'" id="deleteExpiredReturnUrlInput"/>
                <script>
                    document.getElementById('deleteExpiredReturnUrlInput').value = window.location.href;
                </script>
            </form>

        </div>

        <div th:if="${managedEntity.equalsIgnoreCase('urls')}">
            <div th:replace="~{fragments/url-table :: url-table(
                urls=${entities},
                showCheckboxes=true,
                showCreatedBy=true,
                showPrivate=true,
                showOriginalUrl=true,
                showEditButton=true)}">
            </div>
        </div>
        <div th:if="${managedEntity.equalsIgnoreCase('users')}">
            <div th:replace="~{fragments/user-table :: user-table(users=${entities})}"></div>
        </div>
        <div class="mt-3 d-flex flex-column flex-lg-row justify-content-end align-items-lg-center gap-3"
             th:insert="~{fragments/pagination-navbar :: pagination}">
        </div>
    </div>
</div>
<th:block layout:fragment="pageScripts">
    <script th:src="@{/js/adminTabManager.js}" defer></script>
    <script th:src="@{/js/checkboxManager.js}" defer></script>
    <script th:src="@{/js/datePickerManager.js}" defer></script>
    <script th:src="@{/js/sortableColumns.js}" defer></script>
</th:block>
</body>
</html>