spring:
  application:
    name: linkshade
  messages:
    basename: messages
  # Database config
  datasource:
    url: jdbc:postgresql://localhost:5432/linkshade-db
    username: asabido
    password: asabido
  jpa:
    open-in-view: false
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope:
              - read:user
              - user:email
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
logging:
  level:
    de.linkshade: DEBUG

# App properties by default
app:
  page-default-size: 10
  page-available-sizes: [5, 10, 20, 50]
  number-of-tries: 3 # number of tries for creating a random shorturl
  # decides whether the app should check a URL is reachable or not
  # false: only check the url syntax
  # true: check the url syntax plus whether the url is reachable or not (slow)
  check-http-status-code: false
  max-request-per-hour: 10
  short-url-properties:
    base-url: "http://localhost:8080"
    default-expiry-days: 30
    is-private: false
    default-url-length: 10
    is-custom: false
