<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card p-5 border-0 shadow-lg">
                    <h1 class="fw-bold text-dark">Terms of Service</h1>

                    <p>Please read these Terms of Service ("Terms") carefully before using the Linkshade (the "App") application.</p>

                    <h2 class="fw-semibold text-secondary mt-4 fs-5">1. Acceptance of Terms</h2>
                    <p>By accessing or using our Service, you agree to be bound by these Terms. If you disagree with any part of
                        the terms, then you may not access the Service.</p>

                    <h2 class="fw-semibold text-secondary mt-4 fs-5">2. Accounts</h2>
                    <p>When you create an account with us using Google OAuth, you guarantee that you are above the age of 13.
                        You are responsible for safeguarding the password or credentials used to access the Service.</p>

                    <h2 class="fw-semibold text-secondary mt-4 fs-5">3. Acceptable Use</h2>
                    <p>You agree not to use the App for any unlawful purpose or in any way that interrupts, damages, or impairs
                        the service. We reserve the right to terminate accounts that violate these terms.</p>

                    <h2 class="fw-semibold text-secondary mt-4 fs-5">4. Limitation of Liability</h2>
                    <p>In no event shall LinkShade be liable for any indirect, incidental, special, consequential or punitive
                        damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses,
                        resulting from your access to or use of or inability to access or use the Service.</p>

                    <h2 class="fw-semibold text-secondary mt-4 fs-5">5. Changes</h2>
                    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. What
                        constitutes a material change will be determined at our sole discretion.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>