<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Urls</title>
</head>
<body>
<div layout:fragment="content">

    <div th:replace="~{fragments/section-header :: section-header(title='My URLs', pagedResult=${userShortUrls})}"></div>

    <div th:if="${userShortUrls.data().isEmpty()}" class="alert alert-info">
        No URLs have been created by you yet.
    </div>
    <div th:unless="${userShortUrls.data().isEmpty()}" class="table-responsive">
        <form th:action="@{/delete-urls}" method="POST">
            <div class="mb-3">
                <!-- Button trigger modal -->
                <button type="button" id="deleteSelectedBtn" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteConfirmation" disabled>
                    Delete Selected
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="deleteConfirmationLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-5" id="deleteConfirmationLabel">Delete confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete the selected URLs?</p>
                                <span class="text-danger">This action cannot be undone</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/url-table :: url-table(
                urls=${userShortUrls},
                showCheckboxes=true,
                showCreatedBy=false,
                showPrivate=true,
                truncateLength=40)}">
            </div>
        </form>
    </div>
</div>
</body>
</html>