<div th:fragment="confirmation-modal(title, message, captionMessage, modalId, formId, buttonText, buttonClass)">
    <div class="modal fade" th:id="${modalId}" tabindex="-1" th:aria-labelledby="${modalId + 'Label'}"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" th:id="${modalId + 'Label'}" th:text="${title}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${message}"></p>
                    <span th:if="${captionMessage != null}" class="text-danger" th:text="${captionMessage}"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" th:form="${formId}" th:class="'btn ' + ${buttonClass}" th:text="${buttonText}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
