<nav class="d-flex justify-content-between" th:fragment="pagination(pagedResult)">
    <nav th:if="${pagedResult.totalPages > 1}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pagedResult.isFirst ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${path}(page=1, size=${pagedResult.size})}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${pagedResult.isFirst ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${path}(page=${pagedResult.pageNumber}, size=${pagedResult.size}) }"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                        <span class="page-link" aria-label="Current Page Number of Total Pages"
                              th:text="${'Page '+ (pagedResult.pageNumber + 1) + ' of ' + (pagedResult.totalPages)}">
                        </span>
            </li>
            <li class="page-item" th:classappend="${pagedResult.isLast ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${path}(page=${pagedResult.pageNumber + 2}, size=${pagedResult.size})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${pagedResult.isLast ? 'disabled' : ''}">
                <a class="page-link" th:href="@{${path}(page=${pagedResult.totalPages}, size=${pagedResult.size})}"
                   aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- this has to be always visible, regardless the if-clause at the beginning -->
    <ul class="pagination">
        <li class="page-item ms-3">
            <form th:action="@{${path}}" method="GET" class="d-flex align-items-center">
                <input type="hidden" name="page" value="1"/>
                <label for="size">
                    <select id="size" name="size" class="form-select form-select" onchange="this.form.submit()">
                        <option th:each="size : ${pageAvailableSizes}"
                                th:value="${size}"
                                th:text="${size}"
                                th:selected="${pagedResult.size == size}">
                        </option>
                    </select>
                </label>
            </form>
        </li>
    </ul>
</nav>
