<div th:fragment="user-table(users)"
     class="border rounded-3 overflow-hidden">
    <div class="overflow-x-auto">
        <table class="table table-striped table-hover mb-0">
            <thead class="text-nowrap">
            <tr>
                <th class="text-center align-middle">
                    <label><input type="checkbox" id="selectAll" class="form-check-input"/></label>
                </th>
                <th class="text-center" data-column="id">
                    <a class="btn sortable-property">
                        <span>ID</span>
                        <i class="bi bi-caret-down-fill sort-icon"></i>
                    </a>
                </th>
                <th class="text-center" data-column="name">
                    <a class="btn sortable-property">
                        <span>Name</span>
                        <i class="bi bi-caret-down-fill sort-icon"></i>
                    </a>
                </th>
                <th class="text-center" data-column="email">
                    <a class="btn sortable-property">
                        <span>Email</span>
                        <i class="bi bi-caret-down-fill sort-icon"></i>
                    </a>
                </th>
                <th class="text-center" data-column="authProvider">
                    <a class="btn sortable-property">
                        <span>Provider</span>
                        <i class="bi bi-caret-down-fill sort-icon"></i>
                    </a>
                </th>
                <th class="text-center" data-column="userProviderId">
                    <a class="btn sortable-property">
                        <span>Provider User ID</span>
                        <i class="bi bi-caret-down-fill sort-icon"></i>
                    </a>
                </th>
                <th class="text-center" data-column="numberOfUrlsCreated">
                    <a class="btn sortable-property">
                        <span>Number of Urls</span>
                        <i class="bi bi-caret-down-fill sort-icon"></i>
                    </a>
                </th>
                <th class="text-center" data-column="createdAt">
                    <a class="btn sortable-property">
                        <span>Created At</span>
                        <i class="bi bi-caret-down-fill sort-icon"></i>
                    </a>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="user : ${users.data}">
                <td class="text-center align-middle">
                    <label th:if="${!user.role.name.equals('ADMIN')}">
                        <input type="checkbox" name="userIds" th:value="${user.id}"
                               th:form="'deleteUsersForm'" class="form-check-input user-checkbox">
                    </label>
                    <span th:if="${user.role.name.equals('ADMIN')}" class="text-muted">
                        <i class="bi bi-shield-lock"></i>
                    </span>
                </td>
                <td class="text-center" th:text="${user.id}"></td>
                <td class="text-center" th:text="${user.name}"></td>
                <td th:text="${user.email == null? 'No email provided': user.email}"></td>
                <td class="text-center">
                    <span th:switch="${user.authProvider.name}">
                        <span th:case="'GOOGLE'">
                            <i class="bi bi-google"></i>
                        </span>
                        <span th:case="'GITHUB'">
                            <i class="bi bi-github"></i>
                        </span>
                    </span>
                </td>
                <td class="text-center" th:text="${user.userProviderId}"></td>
                <td class="text-center">
                    <span class="badge bg-light text-dark border" th:text="${user.numberOfUrlsCreated}"></span>
                </td>
                <td class="text-center">
                    <span class="badge bg-light text-dark border"
                          th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd')}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item disabled">
                <span class="page-link" aria-label="Total elements"
                      th:text="${'Total users: ' + users.totalElements}">
                </span>
            </li>
        </ul>
    </div>
</div>

