<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found - 404</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <img th:src="@{/images/broken-link.webp}" alt="broken link" class="img-fluid" style="max-width: 200px;">
                <div class="mt-4 alert alert-warning" role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    We're sorry! The resource you are looking for does not exist, or it has expired!
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>