<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container text-center py-5">
        <div class="mb-4">
            <img th:src="@{/images/broken-link.webp}" alt="broken link" class="rounded-circle img-fluid" style="max-width: 200px; border: 2px solid #dc3545;">
        </div>
        <p class="lead mb-5">We're sorry! The link you are looking for does not exist, or has expired!</p>
    </div>
</div>
</body>
</html>