<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

<div layout:fragment="hero">
    <div sec:authorize="!isAuthenticated()" id="heroCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Slides -->
        <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div th:replace="~{fragments/carousel-slide :: carousel-slide(
                    icon='lightning-charge-fill',
                    title='Shorten URLs Instantly',
                    description='Transform long links into short, shareable URLs in seconds. Perfect for social media, emails, and anywhere you need clean links',
                    buttonText='Sign Up Free',
                    buttonIcon='person-plus-fill')}">
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div th:replace="~{fragments/carousel-slide :: carousel-slide(
                    icon='shield-lock-fill',
                    title='Unlock Advanced Features',
                    description='Register to access custom URLs, private links, expiration dates, and more. Take full control of your shortened links',
                    buttonText='Get Started Now',
                    buttonIcon='unlock-fill')}">
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div th:replace="~{fragments/carousel-slide :: carousel-slide(
                    icon='bar-chart-fill',
                    title='Manage & Track Your Links',
                    description='Monitor click statistics, organize your URLs, and edit or delete them anytime. Create an account to access your personal dashboard',
                    buttonText='Join Today',
                    buttonIcon='speedometer2')}">
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <div class="card mt-4">
        <div class="card-header p-3">
            <h5 class="card-title mb-0">Insert your loooong URL here to get it shortened</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/short-urls}" method="POST" th:object="${shortUrlForm}">
                <div class="mb-3">
                    <div class="input-group"
                         th:classappend="${#fields.hasErrors('originalUrl')} ? 'has-validation' : ''">
                        <span class="input-group-text fs-4"><i class="bi bi-link-45deg"></i></span>
                        <div class="form-floating"
                             th:classappend="${#fields.hasErrors('originalUrl')} ? 'is-invalid' : ''">
                            <input type="text" class="form-control" id="originalUrl"
                                   th:field="*{originalUrl}"
                                   th:classappend="${#fields.hasErrors('originalUrl')} ? 'is-invalid' : ''"
                                   placeholder="">
                            <label for="originalUrl" class="form-label">https://example.com/my-long-url</label>
                        </div>
                        <!-- Print errors if any (based on the validation annotations) -->
                        <div class="invalid-feedback"
                             th:if="${#fields.hasErrors('originalUrl')}"
                             th:errors="*{originalUrl}">
                        </div>
                    </div>
                </div>

                <!-- When the user is not authenticated these values will not be sent resulting null in the backend -->
                <div sec:authorize="isAuthenticated()">
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isPrivate" th:field="*{isPrivate}">
                            <label class="form-check-label" for="isPrivate">Private</label>
                        </div>
                        <div class="form-text">Only you can access</div>
                    </div>

                    <div class="mb-3">
                        <div class="input-group"
                             th:classappend="${#fields.hasErrors('expirationDate')} ? 'has-validation' : ''">
                            <button class="input-group-text fs-4" id="openExpirationDatePicker" type="button"
                                    aria-label="Open calendar">
                                <i class="bi bi-calendar"></i>
                            </button>
                            <div class="form-floating"
                                 th:classappend="${#fields.hasErrors('expirationDate')} ? 'is-invalid' : ''">
                                <input type="date" class="form-control" id="expirationDate"
                                       th:field="*{expirationDate}"
                                       th:classappend="${#fields.hasErrors('expirationDate')} ? 'is-invalid' : ''"
                                       placeholder="">
                                <label for="expirationDate" class="form-label">Expiring date</label>
                            </div>
                            <!-- Print errors if any (based on the validation annotations) -->
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('expirationDate')}"
                                 th:errors="*{expirationDate}">
                            </div>
                        </div>
                        <div class="form-text">Min: Today, Max: 1 year | Leave empty to never expire</div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" th:field="*{isCustom}" type="checkbox" role="switch"
                                   id="customModeSwitch">
                            <label class="form-check-label" for="customModeSwitch">Custom</label>
                        </div>
                    </div>

                    <div style="min-height: 85px">
                        <div class="range-container">
                            <div class="d-flex align-items-center gap-2">
                                <input type="range" class="form-range" id="urlLength"
                                       th:field="*{urlLength}" min="5" max="20">
                                <output id="urlLengthValue" class="badge bg-primary"></output>
                            </div>
                            <label for="urlLength" class="d-none"></label>
                            <div class="form-text">Pick the length you want</div>
                        </div>

                        <div class="input-container d-none">
                            <div class="input-group"
                                 th:classappend="${#fields.hasErrors('customShortUrlName')} ? 'has-validation' : ''">
                                <span class="input-group-text" th:text="${baseUrl} + '/s/'"></span>
                                <div class="form-floating"
                                     th:classappend="${#fields.hasErrors('customShortUrlName')} ? 'is-invalid' : ''">
                                    <input type="text" class="form-control" id="customUrl"
                                           th:classappend="${#fields.hasErrors('customShortUrlName')} ? 'is-invalid' : ''"
                                           th:field="*{customShortUrlName}"
                                           placeholder="">
                                    <label for="customUrl" class="form-label">Introduce your custom url here</label>
                                </div>
                                <!-- Print errors if any (based on the validation annotations) -->
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('customShortUrlName')}"
                                     th:errors="*{customShortUrlName}">
                                </div>
                            </div>
                            <div class="form-text">Min: 5 characters | Max: 20 characters</div>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary mt-2">Shorten</button>
            </form>
        </div>
    </div>

    <div th:replace="~{fragments/section-header :: section-header(title='Public Shortened URLs')}"></div>

    <div th:if="${entities.data().isEmpty()}" class="alert alert-info">
        No public URLs have been created yet.
    </div>

    <div th:unless="${entities.data().isEmpty()}">
        <div th:replace="~{fragments/url-table :: url-table(
            urls=${entities},
            showCheckboxes=false,
            showCreatedBy=true,
            showPrivate=false,
            showOriginalUrl=false,
            showEditButton=false)}">
        </div>
    </div>

    <div class="mt-3 d-flex flex-column flex-lg-row justify-content-end align-items-lg-center gap-3"
         th:insert="~{fragments/pagination-navbar :: pagination}">
    </div>

</div>
<th:block layout:fragment="pageScripts">
    <script sec:authorize="isAuthenticated()" th:src="@{/js/urlFormManager.js}" defer></script>
    <script sec:authorize="isAuthenticated()" th:src="@{/js/datePickerManager.js}" defer></script>
    <script sec:authorize="isAuthenticated()" th:src="@{/js/sortableColumns.js}" defer></script>
</th:block>
</body>
</html>
