<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h5 class="mb-0">Login</h5></div>
                <div class="card-body d-grid gap-2">
                    <a class="btn btn-dark" th:href="@{/oauth2/authorization/github}">Log in with GitHub</a>
<!--                    <a class="btn btn-dark" th:href="@{/oauth2/authorization/google}">Log in with Google</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>